@font-face {
    font-family: Freshman;
    src: url('/fonts/Freshman.ttf');
}

@font-face {
    font-family: TitilliumWeb-Regular;
    src: url('/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: TitilliumWeb-SemiBold;
    src: url('/fonts/TitilliumWeb-SemiBold.ttf');
}

body {
    font-family: Freshman;
}

.section {
    background-color: #002817;
}

.section h2 {
    margin: 0;
    font-family: Freshman;
    font-size: 60px;
    color: white;
}

.section h3 {
    margin: 0;
    font-family: Freshman;
    font-size: 30px;
    color: #CDAB56;
}

.section p {
    font-family: TitilliumWeb-Regular;
    font-size: 18px;
    color: white;
}
