.section.hero {
    padding: 0;

    & .hero-content {
        position: relative;
        width: 100vw;
        height: 50vw;

        & > div {
            width: 100%;
            position: absolute;
            bottom: 0;
            margin-bottom: 160px;
        }

        & > img {
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
        }
    }

    & h1 {
        color: white;
        font-family: Freshman;
        font-size: 9rem;
    }

    & p {
        color: white;
        font-family: TitilliumWeb-SemiBold;
        font-size: 2.4rem;
        line-height: 1;
    }

    & .video {
        background-color: white;
        aspect-ratio: 5/3;
        margin-bottom: 27px;
    }

    & .swiper-pagination {
        bottom: 70px;
    }

    & .swiper-pagination-bullet {
        opacity: 0.5;
        width: 100px;
        background-color: white;
        border-radius: 0;
    }

    & .swiper-pagination-bullet-active {
        background-color: white;
        opacity: 1;
    }
}
