.section .content {
    width: 1700px;
    margin: auto;
}

.section h2 {
    margin: 0;
    font-family: Freshman;
    font-size: 60px;
    color: white;
}

.section h3 {
    margin: 0;
    font-family: Freshman;
    font-size: 30px;
    color: #CDAB56;
}

.section p {
    font-family: TitilliumWeb-Regular;
    font-size: 18px;
    color: white;
    text-align: justify;
}

.section.join-us img {
    width: 100%;
}

.section.join-us .right-pane {
    padding: 130px;
}

.section.join-us h2 {
    margin: 0;
    margin-bottom: 25px;
}

.section.join-us h3 {
    margin: 0;
}

.hidden {
    display: none !important;
}

.button.outline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
    background-color: transparent;
}

