.sponsor-rotator {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.sponsor-logos {
    display: flex;
    padding: 0 20px;
}

.sponsor-logo {
margin-right: 5rem;
}
