@font-face {
    font-family: Freshman;
    src: url('/fonts/Freshman.ttf');
}

@font-face {
    font-family: TitilliumWeb-Regular;
    src: url('/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: TitilliumWeb-SemiBold;
    src: url('/fonts/TitilliumWeb-SemiBold.ttf');
}

.button {
    background-color: #002817;
    color: white;
    font-size: 18px;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.inverted {
    background-color: white;
    color: #002817;
}

.button.outline {
    text-decoration: underline;
    background-color: transparent;
}

html {
    font-size: 10px;
}

body {
    font-family: Freshman;
    font-size: 10px;
}

.two-pane {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.center-content {
    display: grid;
    justify-content: center;
    align-items: center;  
}

.section {
    background-color: #002817;
}

.section .content {
    width: 1700px;
    margin: auto;
}

.section h2 {
    margin: 0;
    font-family: Freshman;
    font-size: 60px;
    color: white;
}

.section h3 {
    margin: 0;
    font-family: Freshman;
    font-size: 30px;
    color: #CDAB56;
}

.section p {
    font-family: TitilliumWeb-Regular;
    font-size: 18px;
    color: white;
}
